<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Etherpy</title>
    <!-- Le styles -->
    <link href="{{ static_url('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ static_url('jquery/jquery.js') }}"></script>
    <style>
      body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #editor {
      width: 600px;
      height: 400px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
	<div>
	  <form class="form-inline">
            <select id="select-syntax-language" class="form-control">
              {% for mode in modes %}
	      <option value="ace/mode/{{mode}}"
		      {% if mode == "python" %} selected="selected"
		      {% end %} }}>{{mode}}</option>
	      {% end %}
            </select>
	    Language Syntax
	    <br/>
	    <select id="select-theme" class="form-control">
              {% for theme in themes %}
	      <option value="ace/theme/{{theme}}"
		      {% if mode == "monokai" %} selected="selected"
		      {% end %} }}>{{theme}}</option>
	      {% end %}
            </select>
	    Theme
	  </form>
	</div>
	<div class="pull-left">
	  {% if user %}
	  <a href="/user/{{user}}"><button class="btn btn-primary" type="button">{{user}}</button></a>
	  <a href="/logout"><button class="btn btn-primary" type="button">logout</button></a>
	  {% else %}
	  <a href="/login"><button class="btn btn-primary" type="button">Login</button></a>
	  {% end %}
	</div>
      </div>
    </div>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Etherpy</h3>

        </div>
        <div class="panel-body">
          <div id="editor">def foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>
        </div>
      </div>
    </div>


    <!-- The javascript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("ace/ace.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_url("code.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_url('jquery/jquery.js') }}"></script>
    <script src="{{ static_url('bootstrap/js/bootstrap.js') }}"></script>
  </body>
</html>
